link(rel="shortcut icon", href="/Emblem/Emblem.jpeg", type="image/x-icon")
script(src="https://kit.fontawesome.com/45c7c9c055.js" crossorigin="anonymous")
//- Google tag (gtag.js)
script(async src="https://www.googletagmanager.com/gtag/js?id=G-Z5RZYZD6PB")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-Z5RZYZD6PB');
