doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/color-lab.pug
        link(rel="stylesheet", href="/css/addPalette.css")
        title Lemon Teams: Dashboard
    body#body 
        include ../public/layouts/navigation.pug
        form(action="", method="post") 
            h2 Add Color
            p You can add a maximum of 10 colors and a minimum of 3 colors. Select colors from the bar and submit.
            each color in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                .colors
                    input(type="color", name=`color${color}`)
                    .background
                    input(type="hidden", name=`color${color}Hex`, value="")
            input(type="submit", value="Publish Palette")
        include ../public/layouts/footer.pug
        script(src="/js/addPalette.js")
