doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/header.pug
        link(rel="stylesheet", href="/css/EnterPassword.css")
        title Lemon Teams: Enter new Password
    body
        include ../public/layouts/navigation.pug
        .container
            h1 Enter new Password
            - if(message !== undefined)
                .message-box
                    p= message
            .form
                form(method="post" action="")
                    input(type="password" placeholder="**** ****" name="password" required)
                    input(type="hidden" value=identity name="identity" required)
                    input(type="hidden" value=token name="token" required)
                    input(type="submit" value="Submit")
        include ../public/layouts/footer.pug