doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include ../public/components/header.pug
        link(rel="stylesheet" href="/css/EnterPassword.css")
        title Lemon Teams: Enter new Password
        script.
            function validatePassword() {
                const password = document.querySelector('input[name="password"]').value;
                const regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{8,}$/;
                if (!regex.test(password)) {
                    alert("Password must be at least 8 characters long, contain at least one number and one special character.");
                    return false;
                }
                return true;
            }
    body
        include ../public/layouts/navigation_withoutNotification.pug
        .container
            h1 Enter new Password
            - if(message !== undefined)
                .message-box
                    p= message
            .form
                form(method="post" action="" onsubmit="return validatePassword()")
                    input(type="password" placeholder="**** ****" name="password" required)
                    input(type="hidden" value=identity name="identity" required)
                    input(type="hidden" value=token name="token" required)
                    input(type="submit" value="Submit")
        include ../public/layouts/footer.pug
