doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/header.pug
        link(rel="stylesheet", href="/css/FeedbackLoad.css")
        title Lemon Teams: Feedback
    body
        include ../public/layouts/navigation.pug
        .container
            h1 Feedback
            - if(message !== undefined)
                .message-box
                    p= message
            .form
                form(method="post" action="")
                    input(type="text" placeholder="Describe your issues" name="Feedback" required)
                    input(type="submit" value="Send Feedback")
        include ../public/layouts/footer.pug