doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/header.pug
        link(rel="stylesheet", href="/css/JoinLemonTeams.css")
        title Lemon Teams: Join Us!
    body#body 
        include ../public/layouts/navigation.pug
        .container
            h1 Join Lemon Teams!
            p 
                | Welcome to Lemon Teams! We believe that every user is an integral part of our community. By being here, you are already a member of Lemon Teams, contributing to our vibrant and diverse group of creatives, developers, and enthusiasts. Your presence and participation help us grow and thrive.
            p 
                | At Lemon Teams, we value the contributions of all our members. Whether you are using our services, participating in discussions, or sharing your own projects and ideas, you are helping to build a stronger, more innovative community. We appreciate your involvement and look forward to seeing how you will help us shape the future.
            p 
                | If you have a passion for development and would like to join our team as a developer, we would love to hear from you! Working with us offers a unique opportunity to collaborate with like-minded individuals, develop your skills, and make a real impact. If you're interested, please reach out to us at 
                a(href="mailto:developerpuneet@gmail.com") developerpuneet@gmail.com
                | . We are excited to welcome new talent and look forward to working together to create something amazing.
            p 
                | Thank you for being a part of Lemon Teams. Your support and engagement mean the world to us. Let's continue to grow and innovate together!
        include ../public/layouts/footer.pug
