doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/Library.pug
        link(rel="stylesheet", href="/css/LibraryCollection.css")
        title Lemon Library: #{library.name}
    body
        include ../public/layouts/navigation.pug
        .container 
            .add-btn
                a(href="/add-code") Add Code
            .lib-head 
                .lib-heading #{library.name}
                .lib-search 
                    input(type="text" placeholder="Search version..." id="versionSearch")
            .libs 
                .lib-cards 
                    a(href="") 
                        .lib-card 
                            .heading-lib-card Heading 
                            .heading-lib-para Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis corporis quae quas cupiditate iusto aliquid eligendi explicabo maiores accusantium aliquam. Quae excepturi totam minus voluptatem sapiente fuga temporibus nulla quia.
                            .version 1
        include ../public/layouts/footer.pug