doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/Library.pug
        link(rel="stylesheet", href="/css/LibraryCollection.css")
        title Lemon Library: #{library.name}
    body
        include ../public/layouts/navigation.pug
        include ../public/layouts/footer.pug