doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/header.pug
        meta(name="description" content="Lemon Teams is a versatile platform designed for developers, offering tools like color palettes, project management, and security features to streamline your workflow and boost productivity.")
        meta(name="robots" content="index, follow")
        link(rel="stylesheet", href="/css/Load.css")
        meta(name="trustpilot-one-time-domain-verification-id" content="beabf3b7-e404-4ed2-ab60-e1b099695798")
        title Lemon Teams: Brighten Your Workflow
    body#body 
        include ../public/layouts/navigation.pug
        .container-start 
            .video-container
                video.video#bg-video(src="/media/videos/background.mp4" autoplay muted loop playsinline alt="video") 
            .start-text 
                .text-description
                    h1 Brighten Your Workflow
                    p <span class="font-playWrite">Lemon Teams</span> is a vibrant and innovative platform designed to bring out the best in individuals and teams, enhancing collaboration and productivity. Our range of tools and services, including color palettes, project management, and communication tools, make everything easy and enjoyable. With Lemon Teams, fill your projects with color and bring a new zest to your work. We're here for you every step of the way, ensuring your teamwork and creativity shine like a star.
        .features 
            h1 Highlights
            .feature-container
                .feature-cards 
                    .card-img 
                        img(src="/ecosystem/lemon-color-lab.png", alt="Loading...")
                    .card-text 
                        h3 Lemon Color Lab
                        p Lemon Color Lab is a powerful tool that provides developers with vibrant and customizable color palettes. Find the perfect shades you need and give your projects a fresh look. With a simple interface and extensive color options, your design process becomes easier and more enjoyable.
                        a.visit-btn(href="/lemon-color-lab") Color Lab
        .Testimonials 
            h1 What Our Users Say
            .testimonials-container 
                each testimonial in testimonialsData
                    .testimonial-card
                        h3 By #{testimonial.name}
                        p= testimonial.Testimonials
                        .date-testimonials= testimonial.publishing_date
        include ../public/layouts/footer.pug
    script(src="/js/Load.js") 
