doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/Login.css")
        meta(name="robots" content="index, follow")
        include ../public/components/header.pug
        title Lemon Teams: Login 
    body 
        include ../public/layouts/navigation.pug
        .container
            h1 Login
            - if(message !== undefined)
                .message-box
                    p= message
            .form
                form(method="post" action="/login")
                    input(type="email" placeholder="abc@xyz.com" name="email" required)
                    input(type="password" placeholder="**** ****" name="password" required)
                    .form-options 
                        a(href="/register" title="Create account") Register
                        a(href="/reset-password") Reset Password
                    input(type="submit" value="Login")
        include ../public/layouts/footer.pug
        script(src="/js/Login.js")
