doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/Products.css")
        include ../public/components/header.pug
        title Lemon Teams: Our Products 
    body 
        include ../public/layouts/navigation.pug
        .features 
            h1 Highlights
            .feature-container
                .feature-cards 
                    .card-img 
                        img(src="", alt="Loading...")
                    .card-text 
                        h3 Lemon Color Lab
                        p Lemon Color Lab is a powerful tool that provides developers with vibrant and customizable color palettes. Find the perfect shades you need and give your projects a fresh look. With a simple interface and extensive color options, your design process becomes easier and more enjoyable.
                        a.visit-btn(href="/lemon-color-lab") Color Lab
        include ../public/layouts/footer.pug