doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../public/components/header.pug
        link(rel="stylesheet", href="/css/Load.css")
        title Lemon Teams: Brighten Your Workflow
    body#body 
        include ../public/layouts/navigation.pug
        include ../public/layouts/footer.pug