doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/Register.css")
        link(rel="stylesheet" href="/css/redeemCodeWinner.css")
        include ../public/components/header.pug
        title Lemon Teams: Reward Redeem Code 
    body 
        include ../public/layouts/navigation.pug
        .container
            h1 Reward Redeem Code
            - if(code !== undefined)
                .message-box
                    p#code #{code}
                    .copyBtn#copyBtn Copy Code
        include ../public/layouts/footer.pug
        script(src="/js/redeemCodeWinner.js")
