doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/Register.css")
        include ../public/components/header.pug
        title Lemon Teams: Redeem Code 
    body 
        include ../public/layouts/navigation.pug
        .container
            h1 Redeem Code
            - if(message !== undefined)
                .message-box
                    p= message
            .form
                form(method="post" action="")
                    input(type="text" placeholder="abc-xyz" name="code" required autocomplete="false")
                    a(href="/duck-game", target="_blank", rel="noopener noreferrer" style="text-decoration: none; color: #fff; border-radius: 5px; border: 1px solid #fff; background: gray; padding: 4px; font-size: 0.8rem;") Redeem Code Game
                    input(type="submit" value="Redeem Code")
        include ../public/layouts/footer.pug
