@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Playwrite+HR+Lijeva:100,200,300,regular');

:root {
    --lemon-yellow: #FFD700;
    --fresh-green: #32CD32;
    --highlight-white: #FFFFFF;
    --outline-black: #000000;

    /* Theme colors */
    --forest-night: #181818;
    --cloud-mist: #E0E0E0;
    --sunset-glow: #FFC107;
    --lavender-bloom: #BB86FC;
    --river-rock: #282828;
    --mountain-shadow: #3C3C3C;

    /* Color palette */
    --moonlight-dark: #0D1B2A;
    --star-dark: #1B263B;
    --evening-star: #415A77;
    --shining-star: #778DA9;
    --star-bright: #E0E1DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
    user-select: none;
    transition: all .3s linear;
}

::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--forest-night);
    overflow-x: hidden;
    position: relative;
}

.add-code-heading {
    color: var(--lemon-yellow);
    font-size: 1.5rem;
    text-align: center;
    margin: 15px 0px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 10px;
    margin: 10px 0px;
    align-items: center;
}

form input{
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    background: var(--star-dark);
    color: var(--cloud-mist);
    font-size: 1.1rem;
    margin: 8px;
    width: 90%;
}

form input[type="submit"]{
    width: 60%;
}

form textarea[name="description"]{
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    background: var(--star-dark);
    color: var(--cloud-mist);
    font-size: 1.1rem;
    margin: 8px;
    max-width: 90%;
    min-width: 89%;
    max-height: 200px;
    min-height: 100px;
}

form textarea[name="code"]{
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
    background: var(--star-dark);
    color: var(--cloud-mist);
    font-size: 1.1rem;
    margin: 8px;
    max-width: 90%;
    min-width: 89%;
}