@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Playwrite+HR+Lijeva:100,200,300,regular');

:root {
    --lemon-yellow: #FFD700;
    --fresh-green: #32CD32;
    --highlight-white: #FFFFFF;
    --outline-black: #000000;

    /* Theme colors */
    --forest-night: #181818;
    --cloud-mist: #E0E0E0;
    --sunset-glow: #FFC107;
    --lavender-bloom: #BB86FC;
    --river-rock: #282828;
    --mountain-shadow: #3C3C3C;

    /* Color palette */
    --moonlight-dark: #0D1B2A;
    --star-dark: #1B263B;
    --evening-star: #415A77;
    --shining-star: #778DA9;
    --star-bright: #E0E1DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
    user-select: none;
    transition: all .3s linear;
}

::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--forest-night);
    overflow-x: hidden;
    position: relative;
}

form {
    padding: 20px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background {
    width: 50%;
    border-radius: 10px;
    height: 100%;
}

.colors {
    width: 100%;
    height: 60px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.colors input {
    height: 100%;
    width: 150px;
}

form h2 {
    color: var(--sunset-glow);
    font-size: 2rem;
    margin: 20px;
}

form p {
    color: var(--cloud-mist);
    margin: 20px;
}

input[type="submit"] {
    padding: 10px;
    background: var(--lemon-yellow);
    color: var(--moonlight-dark);
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}

input[type="color"] {
    padding: 10px;
    background: var(--lemon-yellow);
    color: var(--moonlight-dark);
    margin: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}