@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Playwrite+HR+Lijeva:100,200,300,regular');

:root {
    --lemon-yellow: #FFD700;
    --fresh-green: #32CD32;
    --highlight-white: #FFFFFF;
    --outline-black: #000000;

    /* Theme colors */
    --forest-night: #181818;
    --cloud-mist: #E0E0E0;
    --sunset-glow: #FFC107;
    --lavender-bloom: #BB86FC;
    --river-rock: #282828;
    --mountain-shadow: #3C3C3C;

    /* Color palette */
    --moonlight-dark: #0D1B2A;
    --star-dark: #1B263B;
    --evening-star: #415A77;
    --shining-star: #778DA9;
    --star-bright: #E0E1DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
    user-select: none;
    transition: all .3s linear;
}

::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--forest-night);
    overflow-x: hidden;
    position: relative;
}

.container {
    width: 100vw;
    min-height: 100vh;
    padding: 10px;
}

.apps {
    width: 100vw;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
}

.app {
    background-color: var(--star-dark);
    border-radius: 10px;
    height: 250px;
    max-width: 300px;
    min-width: 250px;
    margin: 5px 10px;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sunset-glow);
    font-size: 1.4rem;
    flex-direction: column;
}

.app a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: var(--sunset-glow);
}

.app img {
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.activities {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.activities h4 {
    font-size: 1.7rem;
    color: var(--lemon-yellow);
}

.lemon-color-lab {
    margin-top: 30px;
    color: var(--lemon-yellow);
    width: 100vw;
    padding: 10px;
}

.lemon-color-lab h5 {
    text-align: start;
}

.palettes {
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding: 15px 0;
    display: flex;
}

.palette .color {
    height: 100%;
    color: var(--highlight-white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.palette {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    background: var(--lavender-bloom);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
}

.goto {
    max-width: 340px;
    min-width: 320px;
    height: 180px;
    scroll-snap-align: start;
    background: var(--lavender-bloom);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    margin: 10px 10px;
}

.sub-headings {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--cloud-mist);
    margin: 5px;
}

.lemon-library {
    margin-top: 30px;
    color: var(--lemon-yellow);
    width: 100vw;
    padding: 10px;
}

.lemon-library h5 {
    text-align: start;
}

.container-libs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
}

.lib-cards {
    width: 97vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.lib-cards a {
    text-decoration: none;
    margin: 10px;
    min-width: 350px;
    max-width: 750px;
    scroll-snap-align: start;
}

.lib-cards a .lib-card {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--star-dark);
}

.heading-lib-card {
    color: var(--lemon-yellow);
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.heading-lib-para {
    text-wrap: balance;
    color: var(--cloud-mist);
    text-align: center;
}

.version {
    color: var(--evening-star);
    margin: 15px 5px;
}

.hide {
    display: none;
}

.mentionInfoActivity {
    color: var(--lemon-yellow);
    margin: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}