@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Playwrite+HR+Lijeva:100,200,300,regular');

:root {
    --lemon-yellow: #FFD700;
    --fresh-green: #32CD32;
    --highlight-white: #FFFFFF;
    --outline-black: #000000;

    /* Theme colors */
    --forest-night: #181818;
    --cloud-mist: #E0E0E0;
    --sunset-glow: #FFC107;
    --lavender-bloom: #BB86FC;
    --river-rock: #282828;
    --mountain-shadow: #3C3C3C;

    /* Color palette */
    --moonlight-dark: #0D1B2A;
    --star-dark: #1B263B;
    --evening-star: #415A77;
    --shining-star: #778DA9;
    --star-bright: #E0E1DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
    user-select: none;
    transition: all .3s linear;
}

::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--forest-night);
    overflow-x: hidden;
    position: relative;
}

.container {
    padding: 10px;
    margin: 10px 0px;
}

.add-btn {
    margin: 10px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.add-btn a {
    background: var(--lavender-bloom);
    padding: 10px;
    color: var(--cloud-mist);
    border-radius: 10px;
    text-decoration: none;
    margin: 0px 10px;
}

.add-btn button {
    background: var(--lavender-bloom);
    padding: 10px;
    color: var(--cloud-mist);
    border-radius: 10px;
    text-decoration: none;
    margin: 0px 10px;
    outline: none;
    border: none;
}

.lib-head {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lib-heading {
    color: var(--sunset-glow);
    font-size: 2rem;
    text-align: center;
}

.lib-search {
    width: 90vw;
    height: fit-content;
    margin: 15px 0px;
}

.lib-search input {
    margin: 10px 0;
    width: 90vw;
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: 7px;
    color: var(--star-bright);
    background: var(--moonlight-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.libs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
}

.lib-cards {
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.lib-cards a {
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    width: 100%;
}

.lib-card {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--star-dark);
}

.heading-lib-card {
    color: var(--lemon-yellow);
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.heading-lib-para {
    text-wrap: balance;
    color: var(--cloud-mist);
}

.version {
    color: var(--evening-star);
    margin: 15px 5px;
}

.hide{
    display: none;
}
