@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Playwrite+HR+Lijeva:100,200,300,regular');

:root {
    --lemon-yellow: #FFD700;
    --fresh-green: #32CD32;
    --highlight-white: #FFFFFF;
    --outline-black: #000000;

    /* Theme colors */
    --forest-night: #181818;
    --cloud-mist: #E0E0E0;
    --sunset-glow: #FFC107;
    --lavender-bloom: #BB86FC;
    --river-rock: #282828;
    --mountain-shadow: #3C3C3C;

    /* Color palette */
    --moonlight-dark: #0D1B2A;
    --star-dark: #1B263B;
    --evening-star: #415A77;
    --shining-star: #778DA9;
    --star-bright: #E0E1DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
    user-select: none;
    transition: all .3s linear;
}

::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--forest-night);
    overflow-x: hidden;
    position: relative;
}

.container {
    padding: 10px;
    margin: 10px 0;
}

.search-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create {
    margin: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
    width: 100vw
}

.create a {
    color: var(--cloud-mist);
    padding: 8px;
    border-radius: 10px;
    background: var(--lavender-bloom);
    text-decoration: none;
}

.Emblem {
    margin: 10px;
    padding: 10px;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Emblem img {
    width: 250px;
    filter: drop-shadow(2px 2px 2px var(--moonlight-dark));
}

.heading {
    margin: 10px;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sunset-glow);
    font-size: 2rem;
    font-weight: 600;
}

.search-bar {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 90vw;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: var(--star-dark);
    color: var(--cloud-mist);
}

.container-libs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
}

.lib-cards {
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.lib-cards a {
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.lib-cards a .lib-card {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--star-dark);
}

.heading-lib-card {
    color: var(--lemon-yellow);
    margin: 10px;
    text-align: center;
    font-size: 1.4rem;
}

.heading-lib-para {
    text-wrap: balance;
    color: var(--cloud-mist);
    text-align: center;
}

.version {
    color: var(--evening-star);
    margin: 15px 5px;
}

.lib-all .container-libs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.category-lib {
    color: var(--sunset-glow);
}

.lib-new .container-libs {
    width: 100%;
    overflow: hidden;
}

.lib-new .container-libs .lib-cards {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    overflow: auto;
}

.lib-new .container-libs .lib-cards a .lib-card {
    max-width: 600px;
    min-width: 350px;
    margin: 10px;
}

.lib-new .container-libs .lib-cards a {
    scroll-snap-align: start;
    margin: 10px;
}

.lib-new .container-libs .lib-cards .lib-card {
    max-width: 600px;
    min-width: 350px;
}

.lib-new {
    width: 98vw;
    margin: 20px 0px;
}

.lib-trending .container-libs {
    width: 100%;
    overflow: hidden;
}

.lib-trending .container-libs .lib-cards {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    overflow: auto;
}

.lib-trending .container-libs .lib-cards a .lib-card {
    max-width: 600px;
    min-width: 350px;
    margin: 10px;
}

.lib-trending .container-libs .lib-cards a {
    scroll-snap-align: start;
    margin: 10px;
}

.lib-trending .container-libs .lib-cards .lib-card {
    max-width: 600px;
    min-width: 350px;
}

.lib-trending {
    width: 98vw;
    margin: 20px 0px;
}

.hide{
    display: none;
}

.lib-all a{
    width: 98vw;
}

.lib-all .lib-cards{
    width: 98vw;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}