@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Playwrite+HR+Lijeva:100,200,300,regular');

:root {
    --lemon-yellow: #FFD700;
    --fresh-green: #32CD32;
    --highlight-white: #FFFFFF;
    --outline-black: #000000;

    /* Theme colors */
    --forest-night: #181818;
    --cloud-mist: #E0E0E0;
    --sunset-glow: #FFC107;
    --lavender-bloom: #BB86FC;
    --river-rock: #282828;
    --mountain-shadow: #3C3C3C;

    /* Color palette */
    --moonlight-dark: #0D1B2A;
    --star-dark: #1B263B;
    --evening-star: #415A77;
    --shining-star: #778DA9;
    --star-bright: #E0E1DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
    user-select: none;
    transition: all .3s linear;
}

::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--forest-night);
    overflow-x: hidden;
    position: relative;
}

.container {
    margin: 35px 0;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: var(--sunset-glow);
}

.message-box {
    max-width: fit-content;
    min-width: 200px;
    background: var(--star-dark);
    border: 2px solid var(--evening-star);
    color: var(--star-bright);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.form form input {
    margin: 10px 0;
    width: 60vw;
    outline: none;
    border: none;
    padding: 10px 10px;
    border-radius: 7px;
    color: var(--star-bright);
    background: var(--moonlight-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.form-options {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    color: var(--cloud-mist);
    margin: 10px 0;
}

.form-options a {
    color: var(--cloud-mist);
}

@media (max-width: 500px) {
    .form form input {
        width: 90%;
    }

    .form form {
        width: 100vw;
    }

    .form-options {
        flex-direction: column;
    }

    .form-options a {
        color: var(--cloud-mist);
        margin-bottom: 10px;
    }
}