@import url('https://fonts.googleapis.com/css?family=Noto+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Playwrite+HR+Lijeva:100,200,300,regular');

:root {
    --lemon-yellow: #FFD700;
    --fresh-green: #32CD32;
    --highlight-white: #FFFFFF;
    --outline-black: #000000;

    /* Theme colors */
    --forest-night: #181818;
    --cloud-mist: #E0E0E0;
    --sunset-glow: #FFC107;
    --lavender-bloom: #BB86FC;
    --river-rock: #282828;
    --mountain-shadow: #3C3C3C;

    /* Color palette */
    --moonlight-dark: #0D1B2A;
    --star-dark: #1B263B;
    --evening-star: #415A77;
    --shining-star: #778DA9;
    --star-bright: #E0E1DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans";
    user-select: none;
    transition: all .3s linear;
}

::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    width: 100vw;
    background: var(--forest-night);
    overflow-x: hidden;
    position: relative;
}

.container {
    width: 100vw;
    min-height: 50vh;
    padding: 15px;
}

.container h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--sunset-glow);
    margin: 20px;
}

.container h2 {
    text-align: center;
    font-size: 1.8rem;
    color: var(--lemon-yellow);
    margin: 20px;
}

.container h4 {
    text-align: center;
    color: var(--cloud-mist);
    margin: 20px;
}

.palette-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    color: var(--lemon-yellow);
    margin: 20px;
}

.palette-container {
    display: flex;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.palette-container div {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 500;
    font-size: 1.1rem;
}

.palette-container div:hover {
    transform: translate(1.3);
}

@media (max-width: 400px) {
    .palette-container {
        display: flex;
        height: fit-content;
        border-radius: 10px;
        overflow: hidden;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 10px;
    }

    .palette-container div {
        width: 100%;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
}

.hide {
    display: none;
}

.authorProfile {
    color: var(--cloud-mist);
    text-decoration: none;
}

.likes {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.number {
    color: var(--cloud-mist);
    font-size: 0.9rem;
}

.alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#like-btn {
    font-size: 2rem;
    margin-bottom: 8px;
}

.comments {
    width: 100vw;
    padding: 10px;
}

#comment-form {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#comment-form textarea {
    max-width: 90%;
    min-width: 85%;
    padding: 8px 8px;
    background: var(--moonlight-dark);
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--cloud-mist);
    max-height: 50px;
    min-height: 45px;
}

#comment-form button {
    width: 10%;
    padding: 8px 8px;
    background: var(--moonlight-dark);
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--cloud-mist);
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}

.comment {
    background: var(--moonlight-dark);
    color: var(--cloud-mist);
    font-size: 0.9rem;
    width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-actions {
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn {
    padding: 10px 15px;
    color: var(--cloud-mist);
    border-radius: 10px;
    background-color: var(--lavender-bloom);
    outline: none;
    border: none;
}

.privatePalette {
    margin: auto;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

.Private {
    padding: 10px;
    border-radius: 10px;
    background: var(--lavender-bloom);
}