link(rel="stylesheet", href="../css/footer.css")
.footer
    .upper
        .sec.sec1 
            .footer-heading Products
            .footer-opt 
                a(href="/lemon-color-lab" title="Lemon Color Lab") Lemon Color Lab
                a(href="/library" title="Lemon Library") Lemon Library
        .sec.sec2
            .footer-heading Previews
            .footer-opt 
                a(href="/lemon-color-lab-preview" title="") Lemon Color Lab
        .sec.sec3
            .footer-heading Navigate
            .footer-opt 
                a(href="/products" title="") Product 
                a(href="/solutions") Solutions 
                a(href="/feedback") Feedback 
                -if(!user)
                    a(href=`/account/`) Account
                -else
                    a(href=`/account/${user.identity}`) Account
                a(href="/testimonials") Testimonials
        .sec.sec4
            .footer-heading Teams
            .footer-opt 
                a(href="/donate" title="") Donate  
        .sec.sec5
            .footer-heading Developer
            .footer-opt 
                a(href="/join-lemon-teams") Join Lemon Teams
        .sec.sec5
            .footer-heading Conditions
            .footer-opt 
                a(href="/privacy-and-policies") Privacy & Policies
    .lower
        .line-hr
        .lower-content 
            .logo-copyrights 
                .foot-logo 
                    img(src="../Emblem/Emblem.jpeg" alt="Logo")
                    p.footer-logo-head Lemon Teams
                    p Copyrights © 2024-2025
            .lower-brand-description 
                .description-foot Lemon Teams offers seamless collaboration tools designed for dynamic teams. Empower your team to work smarter, not harder, with Lemon Teams' user-friendly interface and robust performance, ensuring efficient teamwork and innovative project execution. 
                .description-foot Lemon Teams is perfect for remote and in-office teams alike, providing tools to organize tasks, manage deadlines, and foster communication. With features like file sharing, video conferencing, and customizable dashboards, team members can stay connected and informed, no matter where they are. Whether you're a startup, a small business, or a large enterprise, Lemon Teams adapts to your needs, helping you achieve your goals efficiently and effectively. Experience the power of teamwork with Lemon Teams.
                .social-media 
                    p Follow us: 
                    a(href="https://github.com/DeveloperPuneet/Lemon-Teams", target="_blank", rel="noopener noreferrer") <i class="fa-brands fa-github"></i>
                    a(href="https://www.instagram.com/_puneet_kumar_mishra_/", target="_blank", rel="noopener noreferrer") <i class="fa-brands fa-instagram"></i>
                    a(href="https://twitter.com/PuneetKumar2010", target="_blank", rel="noopener noreferrer") <i class="fa-brands fa-x-twitter"></i>
                    a(href="https://discord.gg/hftdVjNBr3", target="_blank", rel="noopener noreferrer") <i class="fa-brands fa-discord"></i>
